
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  button {
    background-color: #2f3542;
    color: white;
    padding: 8px 16px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }

  .add-employee-btn {
    display: flex;
    justify-content: flex-end;
    margin: 0rem 5.5rem 0rem 0rem;
  }

  .container{
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  
  button:hover {
    background-color: grey;
  }

  table {
    width: 90%;
    border-collapse: separate;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  th, td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #b8b5b5;
  }
  
  th {
    background-color: #2f3542;
    color: white;
  }
  
  td button {
    background-color: #2f354f;
    margin-right: 8px;
  }
  
  td button:last-child {
    background-color: #2f3542;
  }
  
  td button:hover {
    background-color:  grey;
  }
  
  .page-heading {
    text-align: center;
    text-decoration: underline;
    font-size: 28px;
    margin-top: 2rem;
    color: #2f3542;
    font-weight: bold;
  }